html,body{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
*,
*::before,
* ::after{
  box-sizing: border-box;
}
.call-email a:hover, .attorneyster-footer-links a:hover, .nav-linkk:hover{
  color: #D1B06B;
  transition: color .2s;
}
.attorneyster-button:hover {
  border-color: #d1b06b;
  background-color: #d1b06b;
  color: #1f2732;
  transition: border-color .2s,background-color .2s,color .2s;
}
.attorneyster-button2:hover, .attorneyster-button3:hover, .contact-us-button:hover {
  border-color: #d1b06b;
  background-color: transparent;
  color: #d1b06b;
  transition: background-color .2s,color .2s;
}
.practice-areas-button:hover{
  background-color: #D1B06B;
  border-color: #D1B06B;
  transition: background-color .2s, color .2s, border-color .2s ;
  color: #1f2732;
}
.attorneyster-view-link a:hover, .footer-copyright-link a:hover{
  color: #FFFFFF;
  transition: color .2s;
}

